@use '../../styles/variables' as *;

.discount-products {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  padding: $spacing-3xl $spacing-section;
  background: $color-white;
}

.discount-products__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  text-align: left;
  color: $color-black;
}

.discount-products__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-sm;
}
