@use "../../styles/variables" as *;

.product-card__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  height: 100%;
  min-height: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-sm;
  padding: $spacing-md $spacing-sm;
  min-height: 380px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: $color-product-card;
  border-radius: 9px;
  transition: transform 0.3s ease;

  .product-card__link:hover &,
  &:hover {
    transform: scale(1.04);
  }
}

.product-card__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  gap: $spacing-xs;
  padding: 0 $spacing-xs;
}

.product-card__like {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  &--outline:hover path {
    stroke: #ff0000;
  }
}

.product-card__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  padding: $spacing-sm;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.product-card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex: 1;
  gap: $spacing-md;
  text-align: center;
}

.product-card__title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: $color-black;
}

.product-card__prices {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-card__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: $color-black;
}

.product-card__old-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #909090;
  text-decoration: line-through;
}

.product-card__btn {
  align-self: center;
  margin-top: auto;
  flex-shrink: 0;
  width: auto;
  min-width: 0;
}
