@use "../../styles/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 104px 160px;
  background: #000000;
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 113px;
  width: 100%;
}

.footer__logo-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 384px;
}

.footer__about {
  margin: 0;
  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.705;
  color: #cfcfcf;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  width: 623px;
  flex-shrink: 0;
}

.footer__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 295.5px;
}

.footer__section-title {
  margin: 0;
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
}

.footer__link {
  display: block;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.2857142857;
  color: #cfcfcf;
  text-decoration: none;
  text-align: left;

  &:hover {
    color: #ffffff;
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 173px;
}
