@use "../../styles/variables" as *;

.banners-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0;
  align-self: stretch;
}

.banners-section__item {
  position: relative;
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 22px 32px 56px;
  overflow: hidden;

  &--white {
    background: #ffffff;
  }
  &--light {
    background: #f9f9f9;
  }
  &--gray {
    background: #eaeaea;
  }
  &--dark {
    background: #2c2c2c;
  }
}

.banners-section__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: stretch;
  gap: 16px;
}

.banners-section__title {
  margin: 0;
  font-family: $font-family;
  font-weight: 300;
  font-size: 33px;
  line-height: 1.4545454545;
  color: #000000;

  &--white {
    color: #ffffff;
  }
}

.banners-section__title-accent {
  font-weight: 600;
}

.banners-section__text {
  margin: 0;
  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #909090;
}

.banners-section__image {
  width: 100%;
  height: 366px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
